@import '_variaveis';
body{
    background:$cor-primario;
    max-width:$largura-max;
    height:$altura-max;
}
p{
    color: $cor-primario;
    font-size: 10px;
    
}
h2{
    font-size: 20px;
    font-family: sans-serif;

}