body{
    margin: 0;
}
nav{
    background: #cecece;
    position: fixed;
    top:0;
    left: 0;
    width: 150px;
    padding-top:10px; 
}
main{
    background: #d4dad4;
    margin-left: 150px;
    margin-top: -25px;
    padding: 20px;
}
footer{
    background: #ceceff;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
p{
    font-size: 18px;
}