section {
  background-color: #000;
}

section.branco {
  background-color: #fff;
}

section.vermelho {
  background-color: red;
}

.fundo {
  background-color: #000;
}

.fundo--branco {
  background-color: #f0f;
}
