section{
    background-color: #000;
    &.branco{
        background-color: #fff;
    }
    &.vermelho{
        background-color: red;
    }
}
.fundo{
   background-color: #000; 
     &--branco{
        background-color: #f0f;
      } 
}