*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    background: #cecece;
    float: left;
    width: 200px;
    padding: 20px;
}
main{
    background: #d4dad4;
    margin-left: 200px;
    padding: 20px;
}
footer{
    background: #ceceff;
    text-align: center;
    padding: 20px;
}
p{
    font-size: 18px;
}